@mixin clearfix {
    // we can put this mixin anywhere by using "&"
    &::after {
        content: "";
        // starndard version of clearfix
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}