@mixin clearfix {
    // we can put this mixin anywhere by using "&"
    &::after {
        content: "";
        // starndard version of clearfix
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

// Media Query Manager

// 2) Better way
/* 
    $Breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/

/* 
   [In Media query, em and rem do affected by
    font size in html!!! In is decided by browser's default font-size

    However, rem is not working in some browsers.
    Therefore, we should use em

    em: 600px / 16 = 37.5 

*/


// Learing order: Base + Typography > general layout + grid 

@mixin respond($breakpoint) {
    
    @if $breakpoint == tab-land {
        // only screen : media query is only working in the browser or screen
        // When we print out the app, it will have full screen.
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }
    
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}


// Break Point
/* 
0 - 600 : phone
600 - 900: Tablet (Portrait)
900 - 1200: Tablet (Landscape)
1200 - 1888: normal style
1888 - + : Big Desktop
*/

// 1)
// @mixin respond-phone {
//     // @content is a kind of variable to enclose a block of codes
//     @media (max-width: 600px) { @content }; 
// }

