@import '../../Sass/abstracts/variables';

.navigation {

    &__checkbox {
        display: none;

    }

    &__button {

        background-color: $color-white;
        // it must cover "__background"
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);

        // to center the icon below..
        text-align: center;
        cursor: pointer;
       
        &:hover .navigation__icon::before {
            top: -1rem;
        }

        &:hover .navigation__icon::after {
            top: 1rem;
        }
   
    }

    &__icon {

        position: relative;
        // margin-top: 3.5rem;
        margin-top: 3.5rem;
        // Main
        &,
        // Before main start
        &::before,
        // after main finish 
        &::after {
            // Creating inline element 
            // need to switch to inline-block to gain width and height
            // content: "";
            // color: white;
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            
        }
        
        &::before,
        &::after {
            // because contents are required only in before and after
            content: "";
            position: absolute;
            left: 0;
            // it is for howver above in the button element
             transition: all .2s ease;
        }

        &::before {
            // higher than span
            top: -.8rem;
        }

        &::after {
            // lower than span
            top: .8rem;
        }
    }



    &__background {
        // background-color: $color-white;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        // to fix the position
        // It is very similar to "absolute"
        // We can define top /left /right/ bottom
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        // linear gradient: from one side to the other side
        // radial gradient: from center to outside: (then, we do not need to define the direction)
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        
        
        // the circle must cover the entire screen. 
        // to cover the entire screen
        // transform: scale(80);


        // transition: transform .8s;
        
        // adding custom transform function
        // Please, google it. Find it MDN or "easings.net" or "cubic-bezier.com"
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1) ;


    }

    &__nav {
        // [ It is for the child position which navigation__list
        // entire height of the viewport
        height: 100vh;
        // do need to specify width
        //  to get the entire navigation
        // moved to sudo:checked
        // width: 100%;
        
        // It makes the nav located at the top=right corner.
        position: fixed;
        top: 0;
        right: 0;

        // at the middle between background and button
        z-index: 1500;
        // position: relative;

        // to hide the ul element which is centered in view port
        opacity: 0;

        // to make it destroyed without the parent width
        width: 0;

        // transition: transform .8s cubic-bezier(.58,.03,.27,1.34);

        // it can be used in "all" and transform
        transition: all .8s cubic-bezier(.58,.03,.27,1.34);
    }

    &__list {
        // when body is a relative position,
        //  we do not need to specify position: relative.
        
        // [ Important ]
        // keep in mind over and over
        //  it can be defined when the the parent has the height and width
        //  except for body
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;

        // [ Important!!!! ]
        // it fills up only in "navigation__nav" which is 0% when it is unchecked
        // Without this, the larger contents of "ul" will overflow outside of 0% width!!!!
        width: 100%;
        overflow: hidden;
       
    }

    &__items {
        // test it
        // text-align: center;
        margin: 1rem;

    }

    &__link {

        &:link,
        &:visited {
            // to make "padding" and  transform: translateX(1rem) work
            // anchor element is "inline"
            display: inline-block;
            padding: 1rem 2rem;
            color: $color-white;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
    
            // control background image / background size
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            
            // Background-color is not controlled by background-size
            // background-color: black;

            // Please increase and decrease a number: background-size increases and decreases
            // when the size value from 100 (half gradient) turns to be 200 (no gradient)
            //  No gradient can be seen
            background-size: 220%; 
            transition: all .4s;
            
            span {
                // to make it margin
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover,
        &:active {
            // backgroun-position: height% width%
            // when we use a single value, it is for width%
            background-position: 100%;
            color: $color-primary;
            // it works only at the inline-block or bloxk
            transform: translateX(1rem);
        }


    }

    // must use "~" because it is not the adjacent sibling.
    &__checkbox:checked ~ .navigation__background {
        transform: scale(80);
        // width:100%
    }

    &__checkbox:checked ~ .navigation__nav {
        width: 100%;
        opacity: 1;
    }

    // to make "X" icon when the checkbox checked
    &__checkbox:checked + .navigation__button .navigation__icon {
        // make navigation__icon's span transparent 
        background-color: transparent;

       
    }
    &__checkbox:checked + .navigation__button .navigation__icon::before {
        
        // background-color: transparent;

        // rotate it
        top: 0;
        transform: rotate(135deg);
        
    }
    &__checkbox:checked + .navigation__button .navigation__icon::after {
        // make navigation__icon's span transparent 
        // background-color: transparent;

         // rotate it
         top: 0;
         transform: rotate(-135deg);
    }

}