@import '../../../Sass/abstracts/variables';
@import '../../../Sass/components/_buton';
@import '../../../Sass/abstracts/mixins';

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -12rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
    
    // Functionalities
    .card {

        /* 
            The perspective property is used to give a 3D-positioned element some perspective.
            The perspective property defines how far the object is away from the user. So, a lower value will result in a more intensive 3D effect than a higher value.
            When defining the perspective property for an element, it is the CHILD elements that get the perspective view, NOT the element itself.     
        */
        perspective: 150rem;
        // working in firefox browser
        -moz-perspective: 150rem;
        // background-color: orangered;
        // height: 50rem;
        // transition: all .8s;
        position: relative;

        // position "absolute" below destroys height in card
        //  therefore we need to define same height over here.
        // It is like float that destroys height!!!
        height: 52rem;

        &__side {
            // background-color: orangered;
            // color: #ffffff;
            font-size: 4rem;
            height: 52rem;
            transition: all .8s ease;

            /* same postion as the front is */
            position: absolute;
            // it is same as the original place where position: relative above
            top: 0;
            left: 0;
            // make the height 100% as well
            width: 100%;

            /* 
                The backface-visibility property defines whether or not the back face of an element should be visible when facing the user.
                The back face of an element is a mirror image of the front face being displayed.
                This property is useful when an element is rotated. It lets you choose if the user should see the back face or not.
            */
            backface-visibility: hidden;

            border-radius: 3px;
            // background picture in "&__pcitre" will destroy the radius.
            // In order to prevent destroy, we need to define overflow!!!
            // overflow: hidden;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

            // sudo is not used because it does not control the children
            &--front {
                background-color: $color-white;
            }

            // it is flipped already
            //  threfore, it is not displayed
            &--back {
                // background-color: green;
                transform: rotateY(180deg);
                
                &-1 {
                    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
                }

                &-2 {
                    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
                }

                &-3 {
                    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
                }
            }

        }

        // Styling
        &__picture {
            background-size: cover;
            height: 23rem;
            // not working in IE / MS Edge
            // a lot of options:screen, soft-light and so on....
            background-blend-mode: screen;

            // cutting the picture
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            
            // when uses pictures ofr background images
            //      need to manually define the radius value
            //      that are matched with the property of the parent.
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            &--1 {
                // It is a background. No contnets.
                // Therefore, we need to define "height" above

                // multiple background images.
                // z-index: 0 -> gradient
                // z-index:-1 -> image

                // picture will destroy 
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
                url(/img/nat-5.jpg);
            }
            
            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
                url(/img/nat-6.jpg);
            }

            &--3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
                url(/img/nat-7.jpg);
            }
        }

        &__heading {
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: $color-white;
            // it is followed by position at the parent, "card"
            position: absolute;
            
            // Without the top/right below, it is displayed "z-index-1"
            // which means no space for this
            top: 12rem;
            right: 2rem;
            // to make span: inline two lines
            width: 65%;
        }

        // This is not a child of &__heading
        // It is a fully new element

        // card__heading-span card__heading-span--1
        &__heading-span {
            // To make two line partly overlapped
            // Remember it is a still inline element
            //  Therefore A of SEA and E of EXPLORER do not have any spare space
            padding: 1rem 1.5rem;
            // Make spare spaces like padding.
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;

            &--1 {
                
                background-image: linear-gradient(to right bottom, 
                rgba($color-secondary-light, .85), 
                rgba($color-secondary-dark, .85));
            }

            
            &--2 {
                
                background-image: linear-gradient(to right bottom, 
                rgba($color-primary-light, .85), 
                rgba($color-primary-dark, .85));
            }

            &--3 {
                
                background-image: linear-gradient(to right bottom, 
                rgba($color-tertiary-light, .85), 
                rgba($color-tertiary-dark, .85));
            }
        }

        &__details {
            
            padding: 3rem;

            ul {
                list-style: none;
                width: 80%;

                // Please remember over and over
                // To centeralize the block element of block
                //  use margin
                margin: 0 auto;
                // block element
                li {
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 1rem;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-grey-light-2;
                        
                    }

                }

            }

        }

        &__cta {
            // when we need to move a box itself
            //  it does not work with margin auto!!! : block type only
            // margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            // inheritance!
            text-align: center;

        }

        &__price-box {
            // text-align: center;
            margin-bottom: 8rem;
            color: $color-white;

        }

        &__price-only {
            font-size: 1.5rem;
            text-transform: uppercase;

        }

        &__price-value {
            font-size: 6rem;
            font-weight: 100;
        }

        // We are not using 3D over here
        @include respond(tab-port){
            // must use same or bigger height as the children have
            // The reason we defined height 
            //  is because we need to make front and back sides
            //  have same same sizes.
            
            // Automatically enclose all childrens
            height: auto;
            // for entire rectangle including backside 
            border-radius: 3px;
            // to fill the gap from clip-path
            background-color: $color-white;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
           
            &__side {
                
                // height: 52rem;
                // Automatically fit into the elements
                height: auto;
                position: relative;
                // border-radius: 3px;
                box-shadow: none;

                // Need to specify this because the default value above has been defined
                &--back {
                    // We need the --back class to be faced with upfront. 
                    transform: rotateY(0deg);
                    // transform: rotateY(180deg);

                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                }

            }

            &__details {
                padding: 1rem 3rem;
            }

            &__cta {
                padding: 7rem 4rem 4rem 4rem;
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0);
                // transform: translate(-50%, -50%);
                width: 100%;
                // // inheritance!
                // text-align: center;
            }

            &__price-box {
                margin-bottom: 1rem;
            }

            &__price-value {
                font-size: 4rem;
                // font-weight: 100;
            }

        }
    
    }       
    
}